header {
    display: grid;
    gap: 1rem;
    align-items: center;

    

}

.btn-back {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;

    & button.btn-back {
     background-color: transparent;
    border: none;
  

    font-weight: 600;
    color: var(--color-danger);
    cursor: pointer;
    }

}